

<fieldset data-payment-target="additionalFields" data-type="Credit card">
  <div class="my-5">
    <%= form.label :credit_card_number, t('orders.new.cc.cc_number') %>
    <%= form.text_field :credit_card_number, id: 'order_credit_card_number', class: "input-field" %>
  </div>

  <div class="my-5">
    <%= form.label :expiration_date, t('orders.new.cc.expiration_date') %>
    <%= form.text_field :expiration_date, id: 'order_expiration_date', class: "input-field" %>
  </div>
</fieldset>

